.floatingdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    padding: 0 28px 0 0;
    height: 4.5rem;
    box-shadow: inset 2px 2px 5px yellow, inset -2px -2px 5px rgb(41, 108, 243);
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.floatingdiv:hover {
    flex-direction: row-reverse;
    padding: 0 0 0 28px;
    box-shadow: inset 2px 2px 5px rgb(41, 108, 243), inset -2px -2px 5px yellow;
}

.floatingdiv>img {
    transform: scale(0.4);
}

.floatingdiv>span {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}